
<div class="header__icons {{ section.settings.icon_weight }}-icon">
  <div class="right-menu">
    {%- for link in linklists['right-menu'].links -%}
      {% assign menuIndex = forloop.index %}
      {%- liquid 
        assign menuTitle = link.title | handleize
        assign blockData = ''
        assign menuDropdown = ''
        for block in section.blocks
          assign blockParent = block.settings.title | handleize
          if blockParent == menuTitle
            assign blockData = block
            break
          endif
        endfor 
      -%}
      {%- capture menuDropdown -%}
      {%- case blockData.type -%}
              {%-when 'style-1' -%}
              {%- liquid 
                if blockData.settings.show_submenu
                  render 'nav-menu-items' link : link
                endif 
              -%}
              {%- capture megaMenuProducts -%}
              {%- for i in (1..6) -%}
              {%- assign productIndex = 'product' | append: i -%}
              {%- if blockData.settings[productIndex] != blank -%}
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                <div class="dropdown-inner-menu-item product-menu-item">
                  {%- render 'product-grid' product: blockData.settings[productIndex], productClasses: 'xsmall-product-card', hideRelated: true, hide_options: true , hideHoverImage: true -%}
                </div>
              </div>
              {%- endif -%}        		
              {%- endfor -%}
              {%- endcapture -%}
              {%- if megaMenuProducts != blank -%}
              <div class="row">
                {{- megaMenuProducts -}}
              </div>
              {%- endif -%}
      
              {%-when 'style-2' -%}
              {%- capture collProducts -%}
              {%- for i in (1..2) -%}
              {%- liquid 
                assign collectionIndex = 'collection' | append: i
                assign collection = blockData.settings[collectionIndex] 
              -%}
              {%- if collection != blank -%}
              <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="yv-megamenu-product-outer">
                  <a href="{{ collection.url }}" class="menu-category-title"> {{ collection.title }}</a>
                  <ul class="list-unstyled yv-megamenu-product-list">              
                    {%- for product in collection.products limit: 4 -%}
                    {%- assign current_variant = product.selected_or_first_available_variant -%}
                    <li class="yv-megamenu-product-box">
                      <a href="{{ product.url }}" class="yv-megamenu-product-img">                 
                          {%- if product.featured_media != blank -%}
                          <div class="image-wrapper" style="padding-bottom:{{ 1 | divided_by : product.featured_media.preview_image.aspect_ratio | times: 100 }}%">
                          {%- render 'lazy-image' image: product.featured_media.preview_image, class : 'lazypreload', width: '110x' -%}
                          </div>
                          {%- else -%}
                          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                          {%- endif -%}
                      </a>
                      <div class="yv-megamenu-product-detail yv-product-information">
                        <a href="{{ product.url }}" class="">{{ product.title | strip_html }}</a>
                        <div class="yv-prizebox">
                          <span class="yv-product-price">{{ current_variant.price | money }}</span>
                          {%- if current_variant.compare_at_price > current_variant.price -%}
                          <span class="yv-product-compare-price"> {{ current_variant.compare_at_price | money }}</span>
                          {%- endif -%}
                        </div>
                      </div>
                    </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
              {%- endif -%}
              {%- endfor -%}
              {%- endcapture -%}
              {%- capture imageContent -%}
              {%- for i in (1..2) -%}
                {%- liquid 
                  assign imageIndex = 'image' | append: i
                  assign headingIndex = 'heading' | append: i
                  assign subheadingIndex = 'subheading' | append: i
                  assign linkIndex = 'link' | append: i
                  assign image = blockData.settings[imageIndex]
                  assign heading = blockData.settings[headingIndex]
                  assign subheading = blockData.settings[subheadingIndex]
                  assign imageLink = blockData.settings[linkIndex] 
                -%}
              {%- if image != blank or heading != blank or subheading != blank -%}
              <div class="col-12 col-sm-12 col-md-6">
                <a href="{{ imageLink }}" class="yv-megamenu-collection">
                  {%- if image != blank -%}
                  <div class="image-wrapper" style="padding-bottom:{{ 1 | divided_by : image.aspect_ratio | times: 100 | minus : 1 }}%">
                  {%- render 'lazy-image' image: image, class : 'lazypreload' -%}
                  </div>
                  {%- endif -%}
                  {%- if heading != blank or subheading != blank -%}
                    <div class="yv-megamenu-collection-detail">
                      {%- if heading != blank -%}
                      <span class="yv-megamenu-collection-subtitle">{{ heading }}</span>
                      {%- endif -%}
                      {%- if subheading != blank -%}
                      <h5 class="yv-megamenu-collection-title">{{ subheading }}</h5>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </a>
              </div>
              {%- endif -%}
              {%- endfor -%}
              {%- endcapture -%}
              {%- if collProducts != blank or imageContent != blank -%}
              <div class="row">
                {%- if collProducts != blank -%}
                <div class="col-12 col-sm-12 col-md-7 col-lg-6">
                  <div class="dropdown-inner-menu-item">
                    <div class="row no-gutters">
                      {{ collProducts }}
                    </div>
                  </div>
                </div>
                {%- endif -%}
                {%- if imageContent != blank -%}
                <div class="col-12 col-sm-12 col-md-5 col-lg-6">
                  <div class="dropdown-inner-menu-item">
                    <div class="row">
                      {{ imageContent }}
                    </div>
                  </div>
                </div>
                {%- endif -%}
              </div>
              {%- endif -%}
      
              {%-when 'style-3' -%}  
              {%- assign collectionCount = 1 -%}
              {%- capture megaMenu3 -%}
              <div class="yv-listing-megamenus grid-container">
                {%- liquid
                  assign container1 ='<div class="yv-listing-megamenu-container">'
                  assign container2 ='<div class="yv-listing-megamenu-container">'
                  assign container3 ='<div class="yv-listing-megamenu-container">'
                  assign container4 ='<div class="yv-listing-megamenu-container">'
                  assign collectionCount = 1 
                -%}
                  {% assign groupMenu = 'group_' | append: menuIndex %}
                {%- for i in (1..12) -%}
                {%- liquid
                  assign collectionIndex = 'collection' | append: i
                  assign collection = blockData.settings[collectionIndex] 
                -%}          
                  
                {%- if collection != blank and collection.all_products_count > 0 -%} 
                {%- capture containercycle -%}{% cycle groupMenu: 1, 2, 3, 4 %}{%- endcapture -%}
                {%- capture collectionContent -%}
                <div class="yv-listing-megamenu-item">
                  <a href="{{ collection.url }}" class="yv-listing-megamenu-title">{{ collection.title }}</a>
                  <ul class="list-unstyled">
                    {%- for product in collection.products limit: blockData.settings.products_count -%}
                    <li> <a href="{{ product.url }}" class="yv-megamenu-item-link">{{ product.title | strip_html }}</a></li>
                    {%- endfor -%}
                  </ul>
                </div>
                {%- endcapture -%}
                {%- liquid 
                  if containercycle == '1'  
                    assign container1 =container1 | append: collectionContent
                  elsif containercycle == '2'
                    assign container2 =container2 | append: collectionContent
                  elsif containercycle == '3' 
                    assign container3 =container3 | append: collectionContent
                  elsif containercycle == '4'
                    assign container4 =container4 | append: collectionContent
                  endif 
                  assign collectionCount =collectionCount | plus: 1 
                -%}
                {%- endif -%}
                {%- endfor -%}
                {%- liquid
                  if collectionCount > 1
                    echo container1 | append: '</div>'
                  endif
                  if collectionCount > 2 
                    echo container2 | append: '</div>'
                  endif
                  if collectionCount > 3
                    echo container3 | append: '</div>'
                  endif 
                  if collectionCount > 4
                    echo container4 | append: '</div>'
                  endif 
                -%}
              </div>
              {%- endcapture -%}
              {%- liquid
                if collectionCount > 1
                  echo megaMenu3
                endif 
              -%}
            {%- endcase -%}
      {%- endcapture -%}
      {% assign dropDown = false %}
      {% liquid
        if link.links != blank
          if blockData.type == 'style-1' and blockData.settings.show_submenu 
            assign dropDown = true
          else
            assign dropDown = true
          endif
        endif 
      -%}
      
      {%- liquid 
        assign fullwidthMenu = false
        if link.levels > 1 and link.links.size > 4 or menuDropdown != '' 
          assign fullwidthMenu = true
        elsif menuDropdown  != ''
          assign fullwidthMenu = true
        endif 
      -%}
      
      {% capture menubadge %}
            
        {%  for block in section.blocks %}
          {% if block.type == 'menu-badge' %}
            {% assign badgetitle =  block.settings.badge_label | handleize  %}
            {% if block.settings.menu_badge != blank and  badgetitle == menuTitle %}
              <span class="navPages-label new-label" id="menu-badge-{{ block.id }}">{{ block.settings.menu_badge }}</span>
                {% assign itembageCount = itembageCount | plus:1 %}
            {% endif %}
          {% endif %}
        {% endfor  %} 
      {% endcapture %} 
      
      <li class="nav-item {% if dropDown or menuDropdown != '' %}dropdown-menu-list {% endif %}{% if fullwidthMenu %}nav-item-mega-menu {% endif %}{% if link.current %}active{% endif %}">
        {%- if link.links != blank or menuDropdown != '' -%}
        <details-disclousre>
        {% if section.settings.menu_navigations == 'hover' %}
        <div class="yv-dropdown-detail">
        <a href="{{ link.url }}" class="nav-link dropdown-menu-item">
          {{ link.title | escape }}
          {% if menubadge != blank %}
            {{ menubadge }}
          {% endif  %}
          <svg fill="currentColor" viewBox="0 0 448 512">
            <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
          </svg>
        </a>                        
        <div class="yv-dropdown-menus-outer {% if fullwidthMenu %}fullwidth-megamenus{% endif %}">
          <div class="yv-dropdown-menus dd">
            <div class="container">
              {%- if menuDropdown != '' -%}
              {{- menuDropdown -}}
              {%- else -%}
                {%- render 'nav-menu-items' link: link -%}
              {%- endif -%}
            </div>
          </div>
        </div> 
        </div>
          {% else %}
          <details class="yv-dropdown-detail">
        <summary class="nav-link dropdown-menu-item">
          <span>{{ link.title | escape }}</span>
          {% if menubadge != blank %}
            {{ menubadge }}
          {% endif  %}
          <svg fill="currentColor" viewBox="0 0 448 512">
            <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
          </svg>
        </summary>                        
        <div class="yv-dropdown-menus-outer {% if fullwidthMenu %}fullwidth-megamenus{% endif %}">
          <div class="yv-dropdown-menus">
            <div class="container">
              {%- if menuDropdown != '' -%}
              {{- menuDropdown -}}
              {%- else -%}
                {%- render 'nav-menu-items' link: link -%}
              {%- endif -%}
            </div>
          </div>
        </div> 
        </details>
          {% endif %}
        </details-disclousre>
        {%- else -%} 
        <a class="nav-link list-menu__item" href="{{ link.url }}">{{ link.title | escape   }}
          {% if menubadge != blank %}
            {{ menubadge }}
          {% endif  %}
          </a>
        {%- endif -%}  
      </li>
    {%- endfor-%}
  </div>
  {%- if section.settings.trust_badge_logo != blank -%}
  <div class="header-img d-none d-lg-block">
    {%- if section.settings.trust_badge_link != blank -%}
    <a href="{{ section.settings.trust_badge_link }}" target="_blank">
    {% endif %}
        <img
          src="{{ section.settings.trust_badge_logo | img_url: 'master' }}"
          alt="{{ section.settings.trust_badge_logo.alt | default: shop.name | strip_html }}"
          width="{{ section.settings.trust_badge_logo.width }}"
          height="{{ section.settings.trust_badge_logo.height }}"
              >
    {%- if section.settings.trust_badge_link != blank -%}
    </a>
    {% endif %}
  </div>
{% endif %}
  {%- if section.settings.show_search  -%}
      <div class="header-search-icon"> 
            <a href="{{ routes.search_url }}" class="btn icon-search search-form" title="{{ 'general.search.search' | t }}" data-search-drawer="addsearch">

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5 3C11.2239 3 12.8772 3.68482 14.0962 4.90381C15.3152 6.12279 16 7.77609 16 9.5C16 11.11 15.41 12.59 14.44 13.73L14.71 14H15.5L20.5 19L19 20.5L14 15.5V14.71L13.73 14.44C12.5504 15.4465 11.0506 15.9996 9.5 16C7.77609 16 6.12279 15.3152 4.90381 14.0962C3.68482 12.8772 3 11.2239 3 9.5C3 7.77609 3.68482 6.12279 4.90381 4.90381C6.12279 3.68482 7.77609 3 9.5 3ZM9.5 5C7 5 5 7 5 9.5C5 12 7 14 9.5 14C12 14 14 12 14 9.5C14 7 12 5 9.5 5Z" fill="#1C1D31"/>
              </svg>
                
            </a>
      </div>
  {%- endif -%}
  {%- if shop.customer_accounts_enabled -%}     
  {% liquid
    assign accountPageType = section.settings.account_type
    if customer and accountPageType == 'popup'
      assign accountPageType = 'dropdown'
    endif
  %}
  <div class="customer-links">
    <a class="acc-links text-hover acc-sign-in" 
       id="customer_login_link" href="{%- if customer -%}{{- routes.account_url -}}{%-else-%}{{ routes.account_login_url }}{%- endif -%}"
       {% unless section.settings.account_type == 'page' or request.page_type contains 'customers' %} onClick=toggleAccountPopup(event,'{{- accountPageType -}}'){% endunless %}
       title="{%- if customer -%}{{ 'customer.account_fallback' | t }}{%-else-%}{{ 'customer.log_in' | t }}{%- endif -%}">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4C13.0609 4 14.0783 4.42143 14.8284 5.17157C15.5786 5.92172 16 6.93913 16 8C16 9.06087 15.5786 10.0783 14.8284 10.8284C14.0783 11.5786 13.0609 12 12 12C10.9391 12 9.92172 11.5786 9.17157 10.8284C8.42143 10.0783 8 9.06087 8 8C8 6.93913 8.42143 5.92172 9.17157 5.17157C9.92172 4.42143 10.9391 4 12 4ZM12 6C11.4696 6 10.9609 6.21071 10.5858 6.58579C10.2107 6.96086 10 7.46957 10 8C10 8.53043 10.2107 9.03914 10.5858 9.41421C10.9609 9.78929 11.4696 10 12 10C12.5304 10 13.0391 9.78929 13.4142 9.41421C13.7893 9.03914 14 8.53043 14 8C14 7.46957 13.7893 6.96086 13.4142 6.58579C13.0391 6.21071 12.5304 6 12 6ZM12 13C14.67 13 20 14.33 20 17V20H4V17C4 14.33 9.33 13 12 13ZM12 14.9C9.03 14.9 5.9 16.36 5.9 17V18.1H18.1V17C18.1 16.36 14.97 14.9 12 14.9Z" fill="#1C1D31"/>
      </svg>
    </a>
  {% unless request.page_type contains 'customers' %}
        <div class="customer-account-popup account-wrapper" data-account-dropdown>
          {% if customer and section.settings.account_type != 'page' %}
            <div class="customer-account-popup-inner">
              <p>{{ customer.name }}</p>
              <a href="{{ routes.account_url }}"  class="account-link">
                {{ 'customer.account_fallback' | t }}
              </a>
              <a class="button black-btn small-btn btn-block" href="{{ routes.account_logout_url }}">
                {{ 'customer.log_out' | t }}
              </a>
            </div>
          {% elsif section.settings.account_type == 'dropdown' %}
              {% render 'header-account' %}
          {% endif %}
        </div>
      {% endunless %}
    </div>
  {%- endif -%}
<div class="wrapper-top-cart">
    <a href="{{ routes.cart_url }}" title="{{ 'templates.cart.cart' | t }}" class="cart-icon {% if settings.enable_cart_drawer and template != 'cart' %}openCartDrawer{% endif %}">
      {% if section.settings.cart_icon == 'cart' %}
        
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 18C17.5304 18 18.0391 18.2107 18.4142 18.5858C18.7893 18.9609 19 19.4696 19 20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22C16.4696 22 15.9609 21.7893 15.5858 21.4142C15.2107 21.0391 15 20.5304 15 20C15 18.89 15.89 18 17 18ZM1 2H4.27L5.21 4H20C20.2652 4 20.5196 4.10536 20.7071 4.29289C20.8946 4.48043 21 4.73478 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63L7.17 14.75C7.17 14.8163 7.19634 14.8799 7.24322 14.9268C7.29011 14.9737 7.3537 15 7.42 15H19V17H7C6.46957 17 5.96086 16.7893 5.58579 16.4142C5.21071 16.0391 5 15.5304 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2ZM7 18C7.53043 18 8.03914 18.2107 8.41421 18.5858C8.78929 18.9609 9 19.4696 9 20C9 20.5304 8.78929 21.0391 8.41421 21.4142C8.03914 21.7893 7.53043 22 7 22C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20C5 18.89 5.89 18 7 18ZM16 11L18.78 6H6.14L8.5 11H16Z" fill="#1C1D31"/>
        </svg>
  
        {% else %}

          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 18C17.5304 18 18.0391 18.2107 18.4142 18.5858C18.7893 18.9609 19 19.4696 19 20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22C16.4696 22 15.9609 21.7893 15.5858 21.4142C15.2107 21.0391 15 20.5304 15 20C15 18.89 15.89 18 17 18ZM1 2H4.27L5.21 4H20C20.2652 4 20.5196 4.10536 20.7071 4.29289C20.8946 4.48043 21 4.73478 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63L7.17 14.75C7.17 14.8163 7.19634 14.8799 7.24322 14.9268C7.29011 14.9737 7.3537 15 7.42 15H19V17H7C6.46957 17 5.96086 16.7893 5.58579 16.4142C5.21071 16.0391 5 15.5304 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2ZM7 18C7.53043 18 8.03914 18.2107 8.41421 18.5858C8.78929 18.9609 9 19.4696 9 20C9 20.5304 8.78929 21.0391 8.41421 21.4142C8.03914 21.7893 7.53043 22 7 22C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20C5 18.89 5.89 18 7 18ZM16 11L18.78 6H6.14L8.5 11H16Z" fill="#1C1D31"/>
          </svg>
            
      {% endif %}
      <span class="cartCount" data-cart-count="" {% if cart.item_count == 0 %}style="display:none"{% endif %}>{% if cart.item_count < 100 %}{{cart.item_count}}{% endif %}</span>
    </a>
  </div>
</div>