{%- if link.links != blank -%}
  <div class="row">
    {%- if link.levels > 1 -%}
      {%- liquid
        if link.links.size == 1
          assign chillinksClasses = 'col-12 col-sm-12 col-md-12 mega-menu-1'
        elsif link.links.size == 2
          assign chillinksClasses = 'col-12 col-sm-12 col-md-12 mega-menu-2'
        elsif link.links.size == 3
          assign chillinksClasses = 'col-12 col-sm-12 col-md-4 mega-menu-3'
        elsif link.links.size == 4
          assign chillinksClasses = 'col-12 col-sm-12 col-md-3 mega-menu-4'
        else
          assign chillinksClasses = 'col-12 col-sm-6 mega-menu-5'
        endif
      -%}
      {%- for childlink in link.links -%}
        {%- liquid
          for grandchildlink in childlink.links
            if grandchildlink
              assign has_3rd_lvl = true
            else
              assign has_3rd_lvl = false
            endif
          endfor
        -%}
        <div class="{{ chillinksClasses }}">
          <div class="dropdown-inner-menu-item">
            <a class="menu-category-title {% if has_3rd_lvl %}has_3rd{% else %}nosub{% endif %}" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
            <ul class="list-unstyled">
              {%- for grandchildlink in childlink.links -%}
                <li>
                  <a href="{{ grandchildlink.url }}" class="yv-dropdown-item-link">
                    {{- grandchildlink.title | escape -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endfor -%}
    {%- else -%}
      <div class="col-12 col-sm-12 col-md-12">
        <div class="dropdown-inner-menu-item">
          <ul class="list-unstyled no-sub">
            {%- for childlink in link.links -%}
              <li>
                <a class="yv-dropdown-item-link" href="{{ childlink.url }}"
                  ><span>{{ childlink.title | escape }}</span></a
                >
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    ['.mega-menu-2', '.mega-menu-5'].forEach(selector => {
      document.querySelectorAll(selector).forEach(menu => {
        const submenu = menu.querySelector('ul');
        if (submenu) {
          menu.addEventListener('mouseenter', () => {
            submenu.classList.add('show');
            submenu.classList.remove('hidden');
          });

          menu.addEventListener('mouseleave', () => {
            submenu.classList.add('hidden');
            submenu.classList.remove('show');
          });
        } else {
          console.warn(`Submenu (ul) not found for ${selector} element:`, menu);
        }
      });
    });
  });
</script>