{%- if link.links != blank -%}
  <div class="row">
    {%- if link.levels > 1 -%}
      {%- liquid
        if link.links.size == 1
          assign chillinksClasses = 'col-12 col-sm-12 col-md-12 mega-menu-1'
        elsif link.links.size == 2
          assign chillinksClasses = 'col-12 col-sm-12 col-md-12 mega-menu-2'
        elsif link.links.size == 3
          assign chillinksClasses = 'col-12 col-sm-12 col-md-4 mega-menu-3'
        elsif link.links.size == 4
          assign chillinksClasses = 'col-12 col-sm-12 col-md-3 mega-menu-4'
        else
          assign chillinksClasses = 'col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6 mega-menu-2'
        endif
      -%}
      {%- for childlink in link.links -%}
        {%- liquid
          for grandchildlink in childlink.links
            if grandchildlink
              assign has_3rd_lvl = true
            else
              assign has_3rd_lvl = false
            endif
          endfor
        -%}
        <div class="{{ chillinksClasses }}">
          <div class="dropdown-inner-menu-item">
            <a class="menu-category-title {% if has_3rd_lvl %}has_3rd{% endif %}" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
            <ul class="list-unstyled">
              {%- for grandchildlink in childlink.links -%}
                <li>
                  <a href="{{ grandchildlink.url }}" class="yv-dropdown-item-link">
                    {{- grandchildlink.title | escape -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endfor -%}
    {%- else -%}
      <div class="col-12 col-sm-12 col-md-12">
        <div class="dropdown-inner-menu-item">
          <ul class="list-unstyled no-sub">
            {%- for childlink in link.links -%}
              <li>
                <a class="yv-dropdown-item-link" href="{{ childlink.url }}"
                  ><span>{{ childlink.title | escape }}</span></a
                >
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menus = document.querySelectorAll('.mega-menu-2'); // Select all .mega-menu-2 elements

    if (menus.length > 0) {
      menus.forEach((menu) => {
        const submenu = menu.querySelector('ul'); // Find the ul inside this specific .mega-menu-2
        if (submenu) {
          // Attach hover effects to this specific menu and its ul
          menu.addEventListener('mouseenter', () => {
            submenu.classList.add('show'); // Show the submenu
            submenu.classList.remove('hidden'); // Ensure 'hidden' is removed
          });

          menu.addEventListener('mouseleave', () => {
            submenu.classList.add('hidden'); // Hide the submenu
            submenu.classList.remove('show'); // Ensure 'show' is removed
          });
        } else {
          console.warn('Submenu (ul) not found for this menu element:', menu);
        }
      });
    } else {
      console.warn('No .mega-menu-2 elements found.');
    }
  });
</script>