{{ 'customer.css' | asset_url | stylesheet_tag }}
<section class="account-pages-section">
  <div class="container">
    <div class="yv-customer-pages register"> 
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="left-side-content">
            <div class="yv-login-form yv-register-form" id="registerForm">
              <h3 class="form-title" tabindex="-1">
                {{ 'customer.register.title' | t }}
              </h3> 
              <p>{{ 'customer.register.subtext' | t }}</p>
              {%- form 'create_customer', novalidate: 'novalidate' -%}

              {%- if form.errors -%}
                {%- form 'create_customer', novalidate: 'novalidate' -%}

                  <div class="field form-group">
                    <label for="signUpForm-FirstName">First Name</label>   
                    <input type="text" class="form-control" name="customer[first_name]" id="signUpForm-FirstName" required>
                  </div>
                
                  <div class="field form-group">
                    <label for="signUpForm-LastName">Last Name</label>
                    <input type="text" class="form-control" name="customer[last_name]" id="signUpForm-LastName" required>
                  </div>
                
                  <div class="field form-group">  
                    <label for="signUpForm-email">Email</label>    
                    <input type="email" class="form-control" name="customer[email]" id="signUpForm-email" required>
                  </div>
                
                  <div class="field form-group"> 
                    <label for="signUpForm-password">Password</label>    
                    <input type="password" class="form-control" name="customer[password]" id="signUpForm-password" required>
                  </div>
                
        
                  <button type="submit" class="button black-btn btn-block">
                    Submit
                  </button>
                {%- endform -%}
              {%- endif -%}

              <div class="field form-group">   
                <label for="signUpForm-FirstName">{{ 'customer.register.first_name' | t }}</label>   
                <input type="text" class="form-control" name="customer[first_name]" id="signUpForm-FirstName" required>
              </div>

              <div class="field form-group">
                <label for="signUpForm-LastName">{{ 'customer.register.last_name' | t }}</label>
                <input type="text" class="form-control" name="customer[last_name]" id="signUpForm-LastName" required>
              </div>

              <div class="field form-group">  
                <label for="signUpForm-email">{{ 'customer.register.email' | t }}</label>    
                <input type="email" class="form-control" name="customer[email]" id="signUpForm-email" required>
              </div>

              <div class="field form-group"> 
                <label for="signUpForm-password">{{ 'customer.register.password' | t }}</label>    
                <input type="password" class="form-control" name="customer[password]" id="signUpForm-password" required>
              </div>

              <!-- Profile Type Selection (Now Using customer[tags]) -->
              <div class="field form-group">
                <label for="signUpForm-ProfileType">Profile Type</label>
                <!-- Remove name from select -->
                <select class="form-control" id="signUpForm-ProfileType">
                  <option value="">Select Account Type</option>
                  <option value="wholesale-a">Wholesale A</option>
                  <option value="wholesale-b">Wholesale B</option>
                  <option value="practitioner">Practitioner</option>
                  <option value="clinical">Clinical trial / Research</option>
                  <option value="distributor">Distributor</option>
                  <option value="customer">Customer</option>
                </select>
              </div>
                            
              <!-- Hidden input for customer tags -->
              <input type="hidden" id="customerTags" name="customer[tags]"> 
              <input type="hidden" id="customerNote" name="customer[note]"> 
              <button type="submit" class="button black-btn btn-block" id="registerSubmit">
                {{ 'customer.register.submit' | t }}
              </button>
              {%- endform -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const profileTypeSelect = document.getElementById("signUpForm-ProfileType");
    const customerTagsInput = document.getElementById("customerTags");
    const customerNoteInput = document.getElementById("customerNote");

    form.addEventListener("submit", function (event) {
      const profileType = profileTypeSelect.value;

      if (profileType) {
        customerTagsInput.value = `${profileType}`;
        customerNoteInput.value = `${profileType}`;
      }
    });
  });
</script>

{% schema %}
{
  "name": "New customer signup",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.text-with-icons.settings.column.heading"
    },
    {
      "type":"checkbox",
      "id":"column_background",
      "label":"t:sections.text-with-icons.settings.show_background.label",
      "default":false
    },
    {
      "type": "select",
      "id": "mobile_column_count",
      "label": "t:sections.text-with-icons.settings.mobile_column_count.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.text-with-icons.settings.icon.heading"
    },
    {
      "type":"checkbox",
      "id":"icon_background",
      "label":"t:sections.text-with-icons.settings.show_background.label",
      "default":false
    },
    {
      "type": "select",
      "id": "icon_position",
      "label":"t:sections.text-with-icons.settings.icon_position.label",
      "default": "top",
      "options": [
        {
          "value": "left",
          "label":"t:sections.text-with-icons.settings.icon_position.options.left.label"
        },
        {
          "value": "top",
          "label":"t:sections.text-with-icons.settings.icon_position.options.top.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.color_section.label"
    },
    {
      "type": "select",
      "id": "bgcolor",
      "label": "t:common.header.background_section.label",
      "default": "secondary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.header.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.header.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.header.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.header.quaternary.label"
        },
        {
          "value": "gradient",
          "label": "t:common.header.gradient.label"
        }
      ]
    },
    {
      "type":"color",
      "id":"column_background_color",
      "label":"t:sections.text-with-icons.settings.column_background_color.label"
    },
    {
      "type":"color",
      "id":"icon_background_color",
      "label":"t:sections.text-with-icons.settings.icon_background_color.label"
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.top_space_desktop.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.bottom_space_desktop.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.top_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.bottom_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],

  "presets": [
    {
      "name": "New customer signup",
    }
  ]
}
{% endschema %}